docs/GeorgiaJedi_Updated.zip
docs/GeorgiaJedi_Updated/autographs.html
docs/GeorgiaJedi_Updated/collectibles.html
docs/GeorgiaJedi_Updated/data/autographs.json
docs/GeorgiaJedi_Updated/data/CastAndCharacters.json
docs/GeorgiaJedi_Updated/data/catalog.json
docs/GeorgiaJedi_Updated/data/collectibles.json
docs/GeorgiaJedi_Updated/data/GBPtoUSD_HistoricalRates.json
docs/GeorgiaJedi_Updated/data/web.config
docs/GeorgiaJedi_Updated/js/script.js
docs/GeorgiaJedi_Updated/js/updateJSON.js
images/autographs/AlecGuinness_Postcard-back.jpg
images/autographs/AlecGuinness_Postcard.jpg
images/autographs/AnakinSkywalker_HaydenChristensen-COA.jpg
images/autographs/AnakinSkywalker_HaydenChristensen.jpg
images/autographs/AnnetteJones_Showmasters1.jpg
images/autographs/AshleyEckstein-Katee Sackhoff-CloneWars.jpg
images/autographs/Beru_C3PO.jpg
images/autographs/BilleDeeWilliams_Autograph.jpg
images/autographs/BonniePiesse_BittersweetEP-innerjacket.jpg
images/autographs/BonniePiesse_BittersweetEP.jpg
images/autographs/BonniePiesse_Headshot.jpg
images/autographs/BookOfBobaFett-Labels.docx
images/autographs/BookofBobaFett-Multi1.jpg
images/autographs/BookofBobaFett-Multi2-withlabels.jpg
images/autographs/ByronWerner-SandSpeeder.jpg
images/autographs/CarlBang-HothRebelSoldier.jpg
images/autographs/CollinHunt_Showmasters1.jpg
images/autographs/JamieShourt-VisualEffects-TantiveIV.jpg
images/autographs/JoelEdgerton_OwenLars-serial.jpg
images/autographs/JoelEdgerton_OwenLars.jpg
images/autographs/JohnTravolta_FaceOff-COA.jpg
images/autographs/JohnTravolta_FaceOff.jpg
images/autographs/JonathanRhysDavies.jpg
images/autographs/KennethColley-AdmiralPiett-ROTJ.jpg
images/autographs/KennyBaker_SWEpV.jpg
images/autographs/LeeannaWalsman-ZamWesell.jpg
images/autographs/LucasAndBeyond.jpg
images/autographs/MargaretTowner_Showmasters1.jpg
images/autographs/OPIX_AmyAllen_AylaSecura.jpg
images/autographs/OPIX_BenBurtt.jpg
images/autographs/OPIX_Beru_BonniePiess.jpg
images/autographs/OPIX_BonniePiesse.jpg
images/autographs/OPIX_BSG_Tyrol_Aaron Douglas-serial.jpg
images/autographs/OPIX_BSG_Tyrol_Aaron Douglas.jpg
images/autographs/OPIX_ChrisMalcolm.jpg
images/autographs/OPIX_GarrickHagon.jpg
images/autographs/OPIX_JadziaDax_TerryFerrel-serial.jpg
images/autographs/OPIX_JadziaDax_TerryFerrel.jpg
images/autographs/OPIX_JohnMorton_Dak.jpg
images/autographs/OPIX_JohnMorton_Dak2.jpg
images/autographs/OPIX_KatiePurvis.jpg
images/autographs/OPIX_LauraVandervoort-serial.jpg
images/autographs/OPIX_LauraVandervoort.jpg
images/autographs/OPIX_LornePeterson.jpg
images/autographs/OPIX_RobertWatts.jpg
images/autographs/OPIX_ShannonMcCrandle.jpg
images/autographs/OPIX_ShannonMcCrandleCard.jpg
images/autographs/OPIX_Shatner_TOS-serial.jpg
images/autographs/OPIX_Shatner_TOS.jpg
images/autographs/OPIX_StanLee-serial.jpg
images/autographs/OPIX_StanLee.jpg
images/autographs/OPIX_TemMorrison.jpg
images/autographs/OPIX_TripleFett.jpg
images/autographs/OPIX_WarwickDavis.jpg
images/autographs/OscarIsaac-PoeDameron.jpg
images/autographs/PaulBlake_Greedo1.jpg
images/autographs/PaulHirschAndRichardChew-Credits.jpg
images/autographs/PaulHirschAndRichardChew-Oscars.jpg
images/autographs/RayPark_SnakeEyes-COA.jpg
images/autographs/RayPark_SnakeEyes.jpg
images/autographs/RayPark_Toad-COA.jpg
images/autographs/RayPark_Toad.jpg
images/autographs/RayPark_XMen-COA.jpg
images/autographs/RayPark_XMen.jpg
images/autographs/ROTJ-MonCalamari-Multi-labels.docx
images/autographs/ROTJ-MonCalamari-Multi1.jpg
images/autographs/ROTJ-MonCalamari-Multi2-labelled.jpg
images/autographs/SeanMaher_Firefly_SimonTam-cert.jpg
images/autographs/SeanMaher_Firefly_SimonTam.jpg
images/autographs/ShannonMcCrandle_MaraJade_Card.jpg
images/autographs/ShannonMcCrandle_MaraJade.jpg
images/autographs/ShatnerCollins_StarTrek.jpg
images/autographs/ShatnerCollins_STTOS.jpg
images/autographs/StarkHagonForrest_SW-serial.jpg
images/autographs/StarkHagonForrest_SW.jpg
images/autographs/StarTrekCrew_Movies_ITC-COA.jpg
images/autographs/StarTrekCrew_Movies_ITC.jpg
images/autographs/Suchiu_Artifacts_CustomScript_print.jpg
images/autographs/Suchiu_ForceOfInspiration_Print.jpg
images/autographs/triplefettlogo1.jpg
images/autographs/Trooper_Multi_Showmasters.jpg
images/autographs/thumbs/AlecGuinness_Postcard_thumb.jpg
images/autographs/thumbs/AnakinSkywalker_HaydenChristensen_thumb.jpg
images/autographs/thumbs/AnnetteJones_Showmasters1_thumb.jpg
images/autographs/thumbs/AshleyEckstein-Katee Sackhoff-CloneWars_thumb.jpg
images/autographs/thumbs/Beru_C3PO_thumb.jpg
images/autographs/thumbs/BilleDeeWilliams_Autograph_thumb.jpg
images/autographs/thumbs/BonniePiesse_BittersweetEP_thumb.jpg
images/autographs/thumbs/BonniePiesse_Headshot_thumb.jpg
images/autographs/thumbs/BookofBobaFett-Multi_thumb.jpg
images/autographs/thumbs/ByronWerner-SandSpeeder_thumb.jpg
images/autographs/thumbs/CarlBang-HothRebelSoldier_thumb.jpg
images/autographs/thumbs/CollinHunt_Showmasters1_thumb.jpg
images/autographs/thumbs/JamieShourt-VisualEffects-TantiveIV_thumb.jpg
images/autographs/thumbs/JoelEdgerton_OwenLars_thumb.jpg
images/autographs/thumbs/JohnTravolta_FaceOff_thumb.jpg
images/autographs/thumbs/JonathanRhysDavies_thumb.jpg
images/autographs/thumbs/KennethColley-AdmiralPiett-ROTJ_thumb.jpg
images/autographs/thumbs/KennyBaker_SWEpV_thumb.jpg
images/autographs/thumbs/KennyBaker_SWEpVe_thumb.jpg
images/autographs/thumbs/LeeannaWalsman-ZamWesell_thumb.jpg
images/autographs/thumbs/MargaretTowner_Showmasters1_thumb.jpg
images/autographs/thumbs/OPIX_AmyAllen_AylaSecura_thumb.jpg
images/autographs/thumbs/OPIX_BenBurtt_thumb.jpg
images/autographs/thumbs/OPIX_Beru_BonniePiess_thumb.jpg
images/autographs/thumbs/OPIX_BonniePiesse_thumb.jpg
images/autographs/thumbs/OPIX_BSG_Tyrol_Aaron Douglas_thumb.jpg
images/autographs/thumbs/OPIX_ChrisMalcolm_thumb.jpg
images/autographs/thumbs/OPIX_GarrickHagon_thumb.jpg
images/autographs/thumbs/OPIX_JadziaDax_TerryFerrel_thumb.jpg
images/autographs/thumbs/OPIX_JohnMorton_Dak_thumb.jpg
images/autographs/thumbs/OPIX_JoshMorton_Dak2_thumb.jpg
images/autographs/thumbs/OPIX_KatiePurvis_thumb.jpg
images/autographs/thumbs/OPIX_LauraVandervoort_thumb.jpg
images/autographs/thumbs/OPIX_LornePeterson_thumb.jpg
images/autographs/thumbs/OPIX_RobertWatts_thumb.jpg
images/autographs/thumbs/OPIX_ShannonMcCrandle_thumb.jpg
images/autographs/thumbs/OPIX_ShannonMcCrandleCard_thumb.jpg
images/autographs/thumbs/OPIX_Shatner_TOS_thumb.jpg
images/autographs/thumbs/OPIX_StanLee_thumb.jpg
images/autographs/thumbs/OPIX_TemMorrison_thumb.jpg
images/autographs/thumbs/OPIX_TripleFett_thumb.jpg
images/autographs/thumbs/OPIX_WarwickDavis_thumb.jpg
images/autographs/thumbs/OscarIsaac-PoeDameron_thumb.jpg
images/autographs/thumbs/PaulBlake_Greedo1_thumb.jpg
images/autographs/thumbs/PaulHirschAndRichardChew-Credits_thumb.jpg
images/autographs/thumbs/PaulHirschAndRichardChew-Oscars_thumb.jpg
images/autographs/thumbs/RayPark_SnakeEyes_thumb.jpg
images/autographs/thumbs/RayPark_Toad_thumb.jpg
images/autographs/thumbs/RayPark_XMen_thumb.jpg
images/autographs/thumbs/ROTJ-MonCalamari-Multi_thumb.jpg
images/autographs/thumbs/SeanMaher_Firefly_SimonTam_thumb.jpg
images/autographs/thumbs/ShannonMcCrandle_Card_thumb.jpg
images/autographs/thumbs/ShannonMcCrandle_MaraJade_thumb.jpg
images/autographs/thumbs/ShatnerCollins_StarTrek_thumb - Copy.jpg
images/autographs/thumbs/ShatnerCollins_StarTrek_thumb.jpg
images/autographs/thumbs/ShatnerCollins-StarTrek_thumb.jpg
images/autographs/thumbs/StarkHagonForrest_SW_thumb.jpg
images/autographs/thumbs/StarTrekCrew_Movies_thumb.jpg
images/autographs/thumbs/Suchiu_ForceOfInspiration_Print_thumb.jpg
images/autographs/thumbs/Trooper_Multi_Showmasters_thumb.jpg
GeorgiaJedi1.zip
catalog_pages.zip
Modified_Update062725a.zip
Update062725a.zip
generate_images_json.py
